@use "../1-abstracts/" as *;
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
    color: $color-white;
    background-color: $color-dark-grey;
}

html {
    font: 400 125%/1.5 "Poppins", sans-serif;
    color: $color-dark-grey;
    @include respond($screen-l) {
        font-size: 100%;
    }
}

body {
    box-sizing: border-box;
}