@use "../1-abstracts/" as *;
.hero-section {
    position: relative;
    z-index: 1;
    grid-column: content-start / column-end 10;
    grid-row: hero-start / hero-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4.5rem 0;
    &__title {
        display: inline-block;
        backface-visibility: hidden;
        background-image: linear-gradient(to right, $color-green, $color-gold-1);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-bottom: 1rem;
    }
    &__text {
        width: 50%;
        margin-bottom: 2rem;
    }
}

.video-section {
    position: relative;
    grid-column: column-start 7 / page-end;
    grid-row: hero-start / hero-end;
    clip-path: polygon(10vw 0, 50vw 0, 100% 100%, 0 100%);
    overflow: hidden;
    &__overlay {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        clip-path: polygon(10vw 0, 50vw 0, 100% 100%, 0 100%);
        background-color: rgba($color-white, 0.5);
    }
    &__video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    &__play-button {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(calc(-50% + 2.5vw), -50%);
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        transition: transform 0.25s ease;
        &:hover {
            transform: translate(calc(-50% + 2.5vw), -50%) scale(1.1);
        }
    }
}

.intro-section {
    grid-column: page-start / page-end;
    grid-row: intro-start / intro-end;
    background-color: $color-light-grey-1;
    padding: 4.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__content {
        padding-left: 3rem;
    }
    &__title {
        margin-bottom: 1rem;
    }
    &__text {
        margin-bottom: 1rem;
    }
}

.concept-section {
    grid-row: concept-start / concept-end;
    grid-column: content-start / content-end;
    text-align: center;
    padding: 4.5rem 0;
    &__title {
        margin-bottom: 1rem;
    }
}

.stories-section {
    grid-row: stories-start / stories-end;
    grid-column: page-start / page-end;
    text-align: center;
    padding: 4.5rem 10%;
    background-image: linear-gradient(to right bottom, $color-green, $color-gold-1);
    &__title {
        margin-bottom: 4.5rem;
        color: $color-white;
    }
}