// COLORS
$color-gold-1: #FCC201;
$color-gold-2: #EEB609;
$color-gold-3: #DBA514;
$color-gold-4: #C69320;
$color-gold-5: #B78628;
$color-green: #4AC752;
$color-blue: #544cc8;
$color-white: #FFFFFF;
$color-light-grey-1: #F7F7F7;
$color-light-grey-2: #E5E5E5;
$color-dark-grey: #404040;
$color-shadow: rgba(#000000, 0.25);