*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 400 125%/1.5 "Poppins", sans-serif;
  color: #404040;
}

body {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/poppins_bold.woff2") format("woff2"), url("./fonts/poppins_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/poppins_regular.woff2") format("woff2"), url("./fonts/poppins_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.nav-link:link, .nav-link:visited {
  position: relative;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  color: currentColor;
}
.nav-link:link::after, .nav-link:visited::after {
  position: absolute;
  bottom: -0.125em;
  left: 50%;
  content: "";
  display: block;
  width: 0;
  height: 0.125em;
  background-image: linear-gradient(to right, #4AC752, #FCC201);
  opacity: 0;
  transition: all 0.25s ease;
}
.nav-link:hover::after, .nav-link:focus::after {
  left: 0%;
  width: 100%;
  opacity: 1;
}

.heading-1 {
  font-size: 4rem;
  line-height: 1.25;
}

.header {
  position: relative;
  z-index: 2;
  grid-column: page-start/page-end;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1.25rem 10%;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.header__logo {
  height: 2.5rem;
  width: 2.5rem;
  transition: transform 0.25s ease;
  perspective: 24rem;
}
.header__logo img {
  height: 100%;
  width: 100%;
}
.header__logo:hover {
  transform: translateY(-0.25rem);
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__link {
  margin-right: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: [page-start] 10% [content-start] repeat(12, [column-start] 1fr [column-end]) [content-end] 10% [page-end];
}
.grid--home {
  grid-template-rows: [header-start] min-content [header-end hero-start] minmax(75vh, min-content) [hero-end intro-start] min-content [intro-end concept-start] min-content [concept-end];
}

.button--color:link, .button--color:visited {
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  color: currentColor;
  transition: color 0.25s ease, transform 0.25s ease;
}
.button--color:link::before, .button--color:link::after, .button--color:visited::before, .button--color:visited::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button--color:link::before, .button--color:visited::before {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  transition: opacity 0.25s ease;
}
.button--color:link::after, .button--color:visited::after {
  z-index: -2;
  width: calc(100% + 0.25em);
  height: calc(100% + 0.25em);
  background-image: linear-gradient(to right, #4AC752, #FCC201);
}
.button--color:hover, .button--color:focus {
  color: #FFFFFF;
  transform: translateY(-0.25em);
}
.button--color:hover::before, .button--color:focus::before {
  opacity: 0;
}

.logo-mask {
  display: inline-block;
  flex-shrink: 0;
  width: 30vw;
  height: 30vw;
  background-image: url("../assets/fitness-background.jpg");
  background-size: cover;
  background-position: center;
  -webkit-mask-image: url("../assets/logo-mask.svg");
  mask-image: url("../assets/logo-mask.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.concept {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 3rem;
}
.concept__content {
  text-align: left;
}
.concept__heading {
  color: #4AC752;
  margin-bottom: 0.5em;
}
.concept__element {
  position: relative;
  width: 25vw;
  height: 25vw;
  min-width: 25vw;
  min-height: 25vw;
  border-radius: 50%;
  margin: 0 2rem;
  background-image: url("../assets/nutrition-background.jpg");
  background-size: cover;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
}
.concept__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1;
  opacity: 0;
  transition: all 0.25s ease;
}
.concept__name--active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.concept__chevron {
  position: relative;
  z-index: 2;
  height: 1.5rem;
  width: 0.75rem;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.concept__chevron:hover {
  transform: scale(1.25);
}
.concept__chevron--right {
  transform: rotate(180deg);
}
.concept__chevron--right:hover {
  transform: scale(1.25) rotate(180deg);
}
.concept__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(74, 199, 82, 0.8);
}

.hero-section {
  position: relative;
  z-index: 1;
  grid-column: content-start/column-end 10;
  grid-row: hero-start/hero-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4.5rem 0;
}
.hero-section__title {
  display: inline-block;
  backface-visibility: hidden;
  background-image: linear-gradient(to right, #4AC752, #FCC201);
  background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}
.hero-section__text {
  width: 50%;
  margin-bottom: 2rem;
}

.video-section {
  position: relative;
  grid-column: column-start 7/page-end;
  grid-row: hero-start/hero-end;
  clip-path: polygon(10vw 0, 50vw 0, 100% 100%, 0 100%);
  overflow: hidden;
}
.video-section__overlay {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  clip-path: polygon(10vw 0, 50vw 0, 100% 100%, 0 100%);
  background-color: rgba(255, 255, 255, 0.5);
}
.video-section__video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.video-section__play-button {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% + 2.5vw), -50%);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.video-section__play-button:hover {
  transform: translate(calc(-50% + 2.5vw), -50%) scale(1.1);
}

.intro-section {
  grid-column: page-start/page-end;
  grid-row: intro-start/intro-end;
  background-color: #F7F7F7;
  padding: 4.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-section__content {
  padding-left: 3rem;
}
.intro-section__title {
  margin-bottom: 1rem;
}
.intro-section__text {
  margin-bottom: 1rem;
}

.concept-section {
  grid-row: concept-start/concept-end;
  grid-column: content-start/content-end;
  text-align: center;
  padding: 4.5rem 0;
}
.concept-section__title {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=main.css.map */
