@use "../1-abstracts/" as *;
$color-1: $color-green;
$color-2: $color-blue;
$color-3: $color-gold-1;
.concept {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rem auto 3rem;
    @include respond($screen-m) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
        gap: 3rem 2rem;
    }
    &__container {
        flex: 0 0 30%;
        position: relative;
        align-self: stretch;
    }
    &__content {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        transition: all 0.25s ease;
        @include respond($screen-m) {
            position: relative;
        }
    }
    &__why {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        &--enter {
            position: absolute;
            top: 50%;
            left: 0;
            opacity: 0;
            transform: translateY(calc(-50% + 1rem));
        }
        &--exit {
            opacity: 0;
            transform: translateY(calc(-50% - 1rem));
        }
    }
    &__how {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
        &--enter {
            position: absolute;
            top: 50%;
            left: 0;
            opacity: 0;
            transform: translateY(calc(-50% - 1rem));
        }
        &--exit {
            opacity: 0;
            transform: translateY(calc(-50% + 1rem));
        }
    }
    &__heading {
        margin-bottom: 0.5em;
        &--1 {
            color: $color-1;
        }
        &--2 {
            color: $color-2;
        }
        &--3 {
            color: $color-3;
        }
    }
    &__element {
        position: relative;
        flex: 0 0 25vw;
        height: 25vw;
        border-radius: 50%;
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 2rem $color-shadow;
        overflow: hidden;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        @include respond($screen-m) {
            width: 60vw;
            height: 60vw;
            max-width: 20rem;
            max-height: 20rem;
        }
    }
    &__name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 2;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 1;
        opacity: 0;
        transition: all 0.25s ease;
        &--active {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
    &__chevron {
        position: relative;
        z-index: 2;
        height: 1.5rem;
        width: 0.75rem;
        cursor: pointer;
        transition: transform 0.25s ease;
        &:hover {
            transform: scale(1.25);
        }
        &--right {
            transform: rotate(180deg);
            &:hover {
                transform: scale(1.25) rotate(180deg);
            }
        }
    }
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-10deg) scale(1);
        z-index: 1;
        min-width: 100%;
        min-height: 100%;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.5s ease;
        &--active {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg) scale(1.1);
        }
        &--exit {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(10deg) scale(1);
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: background-color 0.5s ease;
        &--1 {
            background-color: rgba($color-1, 0.75);
        }
        &--2 {
            background-color: rgba($color-2, 0.75);
        }
        &--3 {
            background-color: rgba($color-3, 0.75);
        }
    }
}