@use "../1-abstracts/" as *;
.logo-mask {
    display: inline-block;
    flex-shrink: 0;
    width: 30vw;
    height: 30vw;
    background-image: url("../assets/fitness-background.jpg");
    background-size: cover;
    background-position: center;
    -webkit-mask-image: url("../assets/logo-mask.svg");
    mask-image: url("../assets/logo-mask.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    @include respond($screen-m) {
        width: 60vw;
        height: 60vw;
        max-width: 20rem;
        max-height: 20rem;
    }
}